<template>
 <div class="flex w-1/3 items-center">
  <div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden">

    <div class="flex justify-between items-center px-6 py-4">
      <div class="bg-blue-600 text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-200 font-bold">{{getScore}}</div>
    </div>

    <div class="flex justify-between items-center px-6 py-4">
      <ul class="flex justify-center">
        <li v-for="(e, index) in remainLife" :key="index">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
          </svg>
        </li>
        <li v-for="(e, index) in lostLife" :key="index">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path>
          </svg>
        </li>
      </ul>
    </div>

    <div class="flex justify-between items-center px-6 py-4">
      <div class="bg-red-600 text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-200 font-bold">Alert</div>
    </div>

    <div class="flex justify-between items-center px-6 py-4">
      <div @click="sendRestart()" class="bg-blue-600 text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-200 font-bold">Restart</div>
    </div>
    <div class="flex justify-between items-center px-6 py-4">
      <div @click="sendStart()" class="bg-blue-600 text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-200 font-bold">Start</div>
    </div>
  </div>
</div>
</template>


<script>
export default {
    data(){
        return {
          initialMessage:{
            Start : false,
            Restart: false
          },
          socket: null,

        }
    },
    methods:{
      sendStart() {
        this.initialMessage.Start = true;
        this.initialMessage.Restart = false;
        this.socket.send(JSON.stringify(this.initialMessage))
      },
      sendRestart() {
        this.initialMessage.Restart= true;
        this.initialMessage.Start = false;
        this.socket.send(JSON.stringify(this.initialMessage))
      },

    },
    computed:{
      getScore(){
        return this.$store.state.mine.score;
      },
      remainLife(){
        return this.$store.state.mine.remainLife;
      },
      lostLife(){
        return this.$store.state.mine.lostLife
      }
    },
    created(){
    },
    mounted(){
      this.socket = new WebSocket("ws://localhost:8080/socket")
    },

}
</script>

