<!-- Please remove this file from your project -->
<template>
<div @click="newScore($event)" class="customSize flex flex-col bg-white shadow-lg rounded-lg overflow-hidden" @mousemove="cursorMove($event)">
  <div  class="relative transform -translate-x-1/2 -translate-y-1/2  top-2/4 right-1/2 bg-transparent w-36 h-36 rounded-full border-2 border-black border-dotted" :style="cursor"></div>
  <div class="absolute transform -translate-x-1/2 -translate-y-1/2 inline-block bg-red-600 w-12 h-12 rounded-full border border-red" :style="getMineStyle"></div>
</div>
</template>

<script>

export default {
  data() {
    return {
      cursor:{
        left:0,
        top:0
      },
    };
  },
  computed:{
    getMineStyle(){
        return this.$store.state.mine.mineStyle;
      },
 
  },
  
  methods: {
    cursorMove($event){
      this.cursor.left = $event.pageX + 'px',
      this.cursor.top = $event.pageY + 'px'
    },
    newScore($event){
      let x = $event.pageX
      let y = $event.pageY
      console.log(x)
      let distance = ((this.$store.state.mine.mine.left - x)**2+(this.$store.state.mine.mine.top - y)**2)**(1/2)
      console.log(distance)
      if (distance>96){
        this.increaseScore()
        
      } else{
        this.pushedOnTheMine()
        this.lostLife()
      }
    }, 
    getMine(){
      this.$store.commit("mine/getMine");
    },
    increaseScore(){
      this.$store.commit("mine/increaseScore")
    },
    pushedOnTheMine(){
      this.$store.commit("mine/pushedOnTheMine")
    },
    lostLife(){
      this.$store.commit("mine/lostLife");
    }
  }
}
</script>

<style scoped>
  .customSize{
    width: 500px;
    height: 500px;
  }
</style>

