<template>
<div class="flex flex-nowrap">
  <Map/>
  <Controllers/>
</div>
  
</template>

<script>
import Map from '../components/Map.vue';
import Controllers from '../components/Controllers.vue';

export default {
  components: { 
    Map,
    Controllers,
  },
};
</script>
